
.img1{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.img1:hover 
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img2
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;

}

.img2:hover 
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.column {
    float: left;
    width: 25.33%;
    padding: 50px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  p
  {
      color: white;
      text-align: center;
  }

  .para
  {
      color:white;
      text-align: center;
  }


  .weatherfooter
  {
      color: white;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

footer
{
    background-color:teal;
    margin:16;
    padding: 16px;
    margin-top:160px ;
}

header{
    margin-top:16px;
    margin-bottom:16px;
}
  
h1{
    font-size: 34px;
}

header a{
    color: wheat;
    margin-right: 16px;
    text-decoration: none;
    font-size: 36px;
 
    /*
    text-decoration: none;
    removes the underline from links
    */


}


.bottom_p{
    position: absolute;
    bottom: 0;
}



.firstpage
{
    color:teal;
    
}


.weathervalues
{
    color:white;
    
}

input{

    border:1px solid #cccccc;
    background: #888888;
    padding:8px;
    color: white;
    border-radius: 3px;
}

button
{
    cursor: pointer;
    border: 1px solid #888888;
    background:#4CAF50;
    color:white;
    padding:8px;
border-radius: 4px;


}

::placeholder
{

    color: white;
    opacity: 1;
}

.resume
{
    color: blanchedalmond;
    text-align: center;
}