<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body>

    <h1>

        {{title}}
        <p>
            {{name}}
            <br>
            I am Passionate FullStack Developer
        </p>
    </h1>

    <img src="/Images/photo.jpg" height="500" width="1330">

</body>

</html>