<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body>

    <h1>

        {{title}}
        
        
    </h1>
    <p>
        
        {{body}}
    </p>

    

</body>

</html>