<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
       <link rel="icon" href="/Images/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body bgcolor="teal" class="main">
    {{>headers}}
    <h1>


        <p>
           
            {{name}}
            <br>
            I am Passionate FullStack Developer
        </p>
    </h1>

    <img src="/Images/photo.jpg" height="500" width="1330" class="img1">
     <div class="row">
<br>
<br>
  <div class="resume">


    <link rel="stylesheet" href="/css/styles.css">
    <a href="https://drive.google.com/file/d/1Znmh7qwqa9MzU0nKkYYFcVmPRu1aUhKQ/view?usp=sharing">
    <button> 
Have A Look At My Resume
    </button>
 
    </a>
    

  </div>
    </body>
    <footer>
        {{>footers}}
    </footer>



</html>