<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/Images/cloud.png">
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body bgcolor="teal" class="main">

{{>headers}}
  
    <p>
        {{body}}
    </p>

    <footer>
    {{>footers}}
</footer>

</body>

</html>