

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
       <link rel="icon" href="/Images/cloud.png">
    <script src="/js/app.js">

        </script>
</head>
<body class="main">
    {{>headers}}

<p>
    Created by {{name}}
</p>
</body>

</html>