<!DOCTYPE html>
<html>

<head>
<title>
    Weather
    </title>
       <link rel="icon" href="/Images/cloud.png">

    <style>
        body {
            background-image: url('/Images/wall.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

      

        p {
            text-align: center;
        }
    </style>
</head>

<body class>
    <div class>
{{>headers}}

    <p>
        {{location}}

     </p>
    </div>
    
   
    

</body>

 </p class="bottom_p">

    <p >
    <p>Created By Sudhir Pal</p>
    <p>Gmail: sudhirnandlalpal@gmail.com</p>

    </p>
</html>